$themes: (
  light: (
    backgroundColor: #fff,
    textColor: #000000,
    buttonTextColor: #2c8dc2,
    buttonTextTransform: none,
    buttonTextHoverColor: #c25e2c,
    buttonColor: #fff,
    buttonBorder: 2px solid #fff,
    topBarBackgroundColor: #e5e5e5,
    bottomBarBackgroundColor: #e5e5e5,
    mainBackgroundColor: #f8f9fa,
    accentColor: #3da4ff,
    listItemBackground: #ebf6fc,
  ),
  dark: (
    backgroundColor: #222,
    textColor: #ddd,
    buttonTextColor: #2c8dc2,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    topBarBackgroundColor: #222629,
    bottomBarBackgroundColor: #2b2a2a,
    mainBackgroundColor: #f8f9fa,
    accentColor: #4887a9,
    listItemBackground: #ced2d6,
  ),
);
