
@model APONCoreWebsite.Pages.Shared._ForumViewModel
@using System.Web
@using System.Web.Optimization

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="forumOuterDiv" class="w-100 block">
    <div class="forum-frame">


        <div>
            <input type="hidden" id="commentForumID" name="commentForumID" asp-for="Forum.ForumID" />
            @{ 
                int LastForumPostIndex;
                if (Model.Posts.Count > 0)
                {
                    LastForumPostIndex = (Model.Posts[Model.Posts.Count - 1].FPI.forumPost.ForumIndex ?? 0) + 1;
                }
                else
                {
                    LastForumPostIndex = 0;
                }
                <input type="hidden" id="ForumHighestIndex" name="ForumHighestIndex" value=@LastForumPostIndex />
            }
            @foreach (_Forum__PostModel fp in Model.Posts)
            {
                <partial name="_Forum__Post" model=fp />

            }

            @if (Model.CurrentUserID > 0)
            {
                <div class="grid-row">

                    <div class="col-1-of-1" >

                        <textarea id="commentTinyMCE" name="commentTinyMCE" style="margin-left: auto; margin-right:auto"> Add a comment!</textarea>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-1-of-3">


                        <button onClick="SubmitComment()"
                                class="APONbtn APONbtnBlue">
                            Submit
                        </button>

                    </div>
                </div>



            }
            else
            {


                <a href="/Login">Please sign in to comment.</a>


            }


        </div>


    </div>
</div>