@model APONCoreLibrary.Models.Tag
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row tagItem mb-1">
    <div class="col-12">
       <a href="../../tag/@Model.TagID"> <div class="w-100 APONTag" >@Model.Name</div></a>
    </div>
</div>

@Html.HiddenFor(model => model.TagID, new { id = "TagID" })


@*TODO: Add click event to navigate to tags page.*@