@page
@model APONCoreWebsite.Pages.Shared.authBadgeModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="login-box">
    <div>
        <img [src]="https://theclemreport.files.wordpress.com/2014/04/a_few_more_great_gifs_of_celebrity_boobs_39.gif"
             class="loggedin-image" />
        @*<img *ngIf="showLoginButton()"
            [src]="getImage()"
            (click)="activate()"
            class="loggedout-image" />*@
    </div>
</div>