/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

:root {
  --primary-color: #2c8dc2;
  --secondary-color: #c25e2c;
  --background-color: #e5e5e5;
  --text-color: #ffffff;
  --top-bar-background-color: #222629;
  --bottom-bar-background-color: #2b2a2a;
  --main-background-color: #343a40;
  --banner-background-color: #2c8dc2;
  --accent-color: #2b2a2a;
  --list-item-background: #595e61;
  --list-item-text-color: #ced2d6;
  --button-background-color: #000;
}
