.tableHeader {
  background-color: var(--primary-color);
  border: solid 1px;
  display: table;
  text-align: center;
  height: 50px;
}

.tableCell {
  border: solid 1px;
  display: table;
  text-align: center;
  height: 50px;
}
