@media screen and (max-width: 767px) {
  .authorShield {
    height: 4rem;
    width: 20rem;
  }
}

.authorShield {
    height: 6rem;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    width: 30rem;
    clear: both;

    &:hover {
        border: 2px var(--secondary-color) solid;
        cursor: pointer;
    }

    &__imageCol {
        float: left;
        border-right: 2px white;
        &--image {
            top: .2rem;
            width: 6rem;
            height: 5.4rem;
            border-radius: 10px 0px 0px 10px;

           
        }
    }

    &__rightCol {
        float: left;
        width: 23rem;
       
    }
}
