.news-text {
    text-align: justify;
    font-size: large;
    margin-right: 2rem;
}


.featureListTop {
    background-color: black;
    color: white;
    border-radius: 3px;
}

.featureListImage {
    border-radius: 3px;

    &:hover {
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.2);
    }
}
