@media screen and (max-width: 600px) {
  .profile-social-media-icon {
    width: 30px;
  }
}

//--------------------------Wider than phone screen-------------------------
@media screen and (min-width: 600px) {
  .profile-social-media-icon {
    width: 3vw;
  }
}

.profile-social-media-icon {
  display: block;
  border-radius: 3px;
  float: left;
}
