@page
@model APONCoreWebsite.Pages.Admin.AddCastModel
@{
    ViewData["Title"] = "AddCast";
}

<h1>AddCast</h1>





@section Scripts
{
<script type="text/javascript">

   
    $(document).ready(function () {

        CheckIfAdmin();
    }
</script>
}

