@page "{FeatureID:int?}"
@model APONCoreWebsite.Pages.Admin.AddFeatureModel
@{
    ViewData["Title"] = "AddFeature";
}

<h1>AddFeature</h1>

<div class="row ">
    <div class="col-12 ">
        <hr />
        <div class="row ">
            <div class="col-12 w-100">
                <form id="frmAddNews" name="frmAddNews">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="headline">Headline</label>

                                <input type="text"
                                       class="form-control w100"
                                       id="headline"
                                       required
                                       asp-for="Feature.Headline"
                                       name="headline" />
                            </div>

                            <div class="form-group">
                                <label for="shortDescription">Short Description</label>

                                <textarea class="form-control"
                                          id="shortDeescription"
                                          name="shortDeescription"
                                          required
                                          asp-for="Feature.Text"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="webDescription">News Text</label>

                                <textarea id="tinyMCETextArea" name="tinyMCETextArea">

</textarea>
                                @*Add the text area here that converts to the TinyMCE*@
                            </div>
                            <div>
                                Upload images for the story.
                                <input type="file" id="imgFile" accept="image/png, image/jpeg" onchange="startImageSubmit(event, 'imgFile', 'lblTINYUploadedImageURL', 'imgTINYUploadImage');" />
                                <div> Here's the link of the image you just uploaded. You can add this to the feature.</div>
                                <div>

                                    <strong>  <label id="lblTINYUploadedImageURL"></label></strong>
                                </div>

                                @*<input type="text" id="txtUploadImageURL" onchange="updateImg(this.id, 'imgUploadImage')" />*@
                                <img src="" id="imgTINYUploadImage" style="max-width: 300px" />
                            </div>

                            <div class="form-group">
                                <label for="myDatepicker">Post Date and Time</label>
                                <br />
                                <input type="datetime-local"
                                       asp-for="Feature.PostDate"
                                       name="myDatePicker" />

                            </div>

                            <div class="form-group">
                                <label for="addToTweet">Add To Tweet</label>
                                <input type="text"
                                       class="form-control"
                                       id="addToTweet"
                                       name="addToTweet" />
                            </div>

                            <div class="form-group">
                                <label for="tweetPreview">Tweet Preview</label>
                                <span id="tweetPreview"></span>
                            </div>

                            TAGS
                            <partial name="_tagConsole" model=@Model.TCM />

                            <app-tag-console #myTagConsole></app-tag-console>

                            <label for="imageURL">Image Location</label>
                            <input type="text"
                                   class="form-control"
                                   id="smallImageInput"
                                   name="smallImageInput" />
                            <input type="file"
                                   id="smallImageURLInput"
                                   name="smallImageURLInput"
                                   accept=".png,.jpg"
                                   #smallImageURLInput
                                   onchange="startImageSubmit(event, 'smallImageURLInput', 'smallImageInput', 'imgFeatureSmallImageURL');" />
                            <img class="img img-fluid" id="imgFeatureSmallImageURL"
                                 onerror="this.src='../../../assets/img/whitesquare.jpg'" />

                            <hr />
                            <label for="splashImageURL">Splash Image Location</label>

                            <input type="text"
                                   class="form-control"
                                   id="splashImageURL"
                                   name="splashImageURL" />
                            <input type="file"
                                   id="splashImgURLInput"
                                   accept=".png,.jpg"
                                   #splashImgURLInput
                                   (change)="splashImgURLUpload($event)" />
                            <img class="img img-fluid"
                                 onerror="this.src='../../../assets/img/whitesquare.jpg'" />
                        </div>
                    </div>
                    <button type="button"
                            [disabled]="newsSubmitted"
                            class="btn btn-success"
                            (click)="onSubmit()">
                        Submit
                    </button>
                </form>
                @*<form id="frmAddImage" name="frmAddImage">
                        <input type="file" id="imgFile" accept="image/png, image/jpeg" onchange="startImageSubmit(event, 'lblUploadedImageURL', 'imgUploadImage');" />
                        Here's the link of the image you just uploaded. You can add this to the feature.
                        <label id="lblUploadedImageURL"></label>
                        <input type="text" id="txtUploadImageURL" onchange="updateImg(this.id, 'imgUploadImage')" />
                        <img src="" id="imgUploadImage" style="max-width: 300px" />
                    </form>*@
            </div>
        </div>
    </div>
</div>
<input type="search" id="tagSearch" class="form-control" />
<button class="mdb-autocomplete-clear">
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        <path d="M0 0h24v24H0z" fill="none" />
    </svg>
</button>

@section Scripts
{

    <script type="text/javascript">
    $(document).ready(function () {

        CheckIfEditor(@Model.UserAuthLevel);

        var myTinyMCE = new tinymce.Editor('tinyMCETextArea', {
            selector: 'tinyMCETextArea',
            width: 1000, height: 500,
            menubar: false,
            toolbar: 'undo redo | bold italic underline strikethrough |  image media  link   | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print  | ltr rtl',
            toolbar_sticky: true,
            plugins: 'image link media'
        }, tinymce.EditorManager);
        myTinyMCE.render();

        filterTagList();


    });

      

    function startImageSubmit(evt, senderObj, txtUpdateField, imgUpdateField) {
        let fd = new FormData();

        fd.append("File", document.getElementById(senderObj).files[0])
        var filename = document.getElementById(senderObj).files[0].name;


        submitImage(evt, fd, "news", txtUpdateField, imgUpdateField, filename);


        }



    </script>
}