@page
@model APONCoreWebsite.Pages.Admin.EditorModel
@{
    ViewData["Title"] = "Editor";
}

<h1>Editor</h1>
@{
    if (Model.UserAuthLevel < 4)
    {
        <div class="row APONText">
            <div class="col-6 mb-2">
                <h3>Add a Podcast Episode</h3>
                <select id="SeriesList" name="SeriesList">
                    @for (int i = 0; i < Model.SeriesForUser.Count; i++)
                    {
                        <option value="@Model.SeriesForUser[i].SeriesID"> @Model.SeriesForUser[i].Name</option>

                    }
                </select>
                <button type="button" class="APONbtn APONbtnBlue" onclick="GoToAddEpisode()">
                    Add Episode
                </button>
                To Edit an Episode, please go to the episode's page and click "edit."
                <div class="row">
                    <div class="col-xs-12 col-md-12 mb-2">
                        <button type="button"
                                class="APONbtn APONbtnBlue"
                                onclick="window.location.href='../Admin/EditSplashNews'">
                            Edit Splash News
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 mb-2">
                        <button type="button"
                                class="APONbtn APONbtnBlue"
                                onclick="window.location.href='../Admin/AddFeature'">
                            Add Feature/Review
                        </button>
                    </div>
                </div>
                <div class="w-100">
                    <button class="APONbtn APONbtnBlue" onclick="window.location.href='../Admin/TwitterAdmin'">
                        Edit Tweets
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 mb-2">
                        <button type="button"
                                class="APONbtn APONbtnBlue"
                                onclick="window.location.href='../Admin/EditSubseries'">
                            Edit Subseries
                        </button>
                    </div>
                </div>
                @if (Model.UserAuthLevel == 1)
                {
            <div class="row">
                <div class="col-xs-12 col-md-12 mb-2">
                    <button class="APONbtn APONbtnBlue" onclick="window.location.href='../Admin/AddCast'">
                        Add Cast
                    </button>
                </div>
                <div class="col-xs-12 col-md-12 mb-2">
                    <button class="APONbtn APONbtnBlue" (click)="onAddCastToSeries()">
                        Add Cast To Series
                    </button>
                </div>
                <div class="col-xs-12 col-md-12 mb-2">
                    <button class="APONbtn APONbtnBlue" (click)="onEditCastMembers()">
                        Edit Cast Members
                    </button>
                </div>
                <div class="col-xs-12 col-md-12 mb-2">
                    <button class="APONbtn APONbtnBlue" onclick="window.location.href = '../Admin/UserList'">
                        View All Users
                    </button>
                </div>
                <div class="col-xs-12 col-md-12 mb-2">
                    <button class="APONbtn APONbtnBlue" onclick="window.location.href='../Admin/AddComic'">
                        Add ComicStrip
                    </button>
                </div>
            </div>
                }
            </div>
        </div>
    }
}

@{

}

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {

            let seriesCount = @Model.SeriesForUser.Count;

            if (seriesCount == 0) {
                alert("If you're seeing this and your a series editor, your session has expired, please log back in.");
                logoutFromSession();
            }

        });
        function GoToAddEpisode() {
            let SeriesID = document.getElementById("SeriesList").value;

            window.location.href = "../Admin/AddEpisode/" + SeriesID;
        }

    </script>
}

