@page "/Feature/{FeatureID}"
@model APONCoreWebsite.Pages.FeatureModel
@{
    ViewData["Title"] = "Feature";
}
@if (Model.FeatureID != 0)
{
    <div class="ml-5">
        <div class="grid-row">
            <div class="col-1-of-1">
                <h1>  @Model.Feature.News.Headline</h1>
                <hr />
            </div>
        </div>
        <div class="grid-row ">
            <div class="col-1-of-1">
                <div class="grid-row">
                    <div class="col-1-of-3">
                        <partial name="_AuthorShield" model=@Model.Feature.AUthor />
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-1-of-3">
                        @Model.Feature.News.PostDate.ToShortDateString();
                    </div>
                </div>
                @{
                    if ((Model.UserAuthLevel < 3) || (Model.UserAuthLevel < 4 && Model.Feature.News.AuthorID == Model.CurrentUserID))
                    {
                        <div class="grid-row">
                            <div class="col-2-of-4">
                                <a href='@("/Admin/AddFeature/" + Model.FeatureID)'>Edit Feature</a>
                                @{
                                    if (Model.UserAuthLevel < 3)
                                    {
                                        <button type="button"
                                                class="APONBtn APONBtnRed">
                                            Delete
                                        </button>
                                    }
                                }

                            </div>
                        </div>
                                    }
                }
                <div class="row grid-row">
                    <div class="col-1-of-1">
                        <img class="img-fluid" src="@Model.Feature.News.ImageURL" />
                    </div>
                    @{ var myHTMLString = new Microsoft.AspNetCore.Html.HtmlString(Model.Feature.News.LongText);
                        @myHTMLString
                    }
                
              </div>
            </div>
            <div class="col-1-of-1">
                <partial name="_TagList" model=@Model.Feature.tags />
            </div>
        </div>
    </div>
    <div class="row" [hidden]="isEditMode()"></div>
}

