@page
@model APONCoreWebsite.Pages.PodcastModel
@{
    ViewData["Title"] = "Series";
}



<div>
    <span class="pageHeader">
        Our Podcasts
    </span>
</div>


@if (Model.Series.Count > 0)
{
    @for (int i = 0; i < Model.Series.Count; i++)
    {
        @if (i % 4 == 0)
        {
            <div class="grid-row  scrolly">
                <div class="col-1-of-4">
                    <partial name="_SeriesCard" model=@Model.Series[i] />
                </div>
                <div class="col-1-of-4">

                    @if (Model.Series.Count > i + 1)
                    {
                        <partial name="_SeriesCard" model=@Model.Series[i+1] />

                    }

                </div>
                <div class="col-1-of-4">
                    @if (Model.Series.Count > i + 2)
                    {
                        <partial name="_SeriesCard" model=@Model.Series[i+2] />
                    }

                </div>
                <div class="col-1-of-4">
                    @if (Model.Series.Count > i + 3)
                    {
                        <partial name="_SeriesCard" model=@Model.Series[i+3] />
                    }

                </div>
            </div>
        }
    }
}
