@page

@inject System.Net.Http.HttpClient Http
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@functions{

    private async Task GetAllSeries()
    {
     
    }
}