@page "/resetpassword/{ID}"
@model APONCoreWebsite.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "resetpassword";
}

<h1>Password Reset</h1>

<form id="PWRestForm" name="PWRestForm" >

<input type="hidden" id="linkID" value="@Model.ID" />

    <div class="row">
        <div class="col-md-6 offset-md-3 col-login APONText">
            <div class="form-group">
                <label for="firstPassword">Enter your Password</label>
                <input id="firstPassword"
                       name="firstPassword"
                       required min="8"
                      />
            </div>
            <div *ngIf="firstPasswordIsValid()" class="form-group">
                <label for="secondPassword">Please re-enter your Password</label>
                <input id="secondPassword"
                       name="secondPassword"
                       required min="8"
                       />
            </div>
            <div class="form-group">
                <button class="APONBtn APONBtnBlue"
                     type="button" onclick="SubmitForm()"   >
                    Submit
                </button>
            </div>
            Please note passwords should be at least 8 characters long.
        </div>
    </div>
</form>

@section Scripts{ 
<script type="text/javascript">

    function SubmitForm()
    {
        let pw1 = document.getElementById("firstPassword").value.trim();
        let pw2 = document.getElementById("secondPassword").value.trim();
        let linkID = document.getElementById("linkID").value;
        if (pw1 != pw2) {
            alert("Your passwords do not match");
            return;
        }
        if (pw1.length < 8) {
            alert("Your password must be at least 8 characters long");
            return;
        }
        let form = document.getElementById("PWRestForm");
        let FD = new FormData(form);
        FD.append("LinkInfo", linkID);
        let url = window.location.protocol + "//" + window.location.host + "/Handlers/SaveHandler?handler=ResetPassword";

        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: url,
            data: FD,
            contentType: false,
            processData: false,

            success: function (resp) {

                switch (resp) {
                    case "OK":
                        alert("Your Password has been reset. Please sign in.");
                        break;

                    case "NotFound":
                        alert("The reset link provided cannot be found. Please reqeust a new email.");
                        break;
                }
                window.location.href = window.location.protocol + "//" + window.location.host + "/Login";

            }
        });

    }

</script>
}