@model APONCoreLibrary.Models.UserReturnToken




<div class="login-box">
    <div>
        @if (Model.UserID != -1)
        {
            <a id="loginLink" asp-page="/User" asp-route-id=@Model.UserID>

                <img id="loginImage"
                     src=@Model.imageURL
                     class="loggedin-image" />
            </a>
        }
        else
        {
            <a id="loginLink" asp-page="/Login">
                <img id="loginImage"
                     src=@Model.imageURL
                     class="loggedout-image" />
            </a>
        }
    </div>
</div>
<form id="subjwt" method="post">
    <input type="hidden" name="jwt" />
</form>
@Html.HiddenFor(model => model.UserID, new { id = "authVCuserID" });



<script type="text/javascript">
    
</script>

